 body{
    height: 100vh;
    background-color: #d6dde2;
    font-family: Roboto;
 }
 *{
   box-sizing: border-box;
 }

 /*cards*/
 /*images*/
 .images{
   display: flex;
   gap: 10px;
 }
  .images img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
 }
 
 .places{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 40px;
    justify-content: center;
    margin: 40px auto;
 }

 .place{
    background: #f9f9f9;
    width: 300px;
    padding: 0px;
    border-radius: 10px;
    gap: 10px;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    transition: 0.3s;
 }

 .place:hover{
   transform: translateY(-10px);
 }

 .content{
   padding: 0px;
   text-align: center;
 }

 .content p{
    font-size: 15px;
    text-align: left;
    margin: 25px;
    
 }



 /*upper details*/
 .detailsup p{
   font-size: 20px;
   padding: 10px;
   margin-left: 25px;
 }

 .detailsup .dest{
   font-size: 30px;
   
 }

/*button*/
.button{
   font-size: 25px;
   font-family: 'Times New Roman', Times, serif;
   background-color: rgb(156, 120, 103);
   color: #f9f9f9;
   padding: 5px;
   border: none;
   border-radius: 10%;
   cursor: pointer;
   transform: scale(1.05);
   margin-bottom: 100px;
   text-decoration: none;
}

.button:hover{
   background-color: rgb(205, 168, 138);
}

.button:active{
   transform: scale(0.95);
}

.buttons{
   display: flex;
   justify-content: center;
   gap: 20px;
   padding: 25px;
}

/*lower details*/
.detailsdw{
   font-size: 20px;
   padding: 10px;
   text-align: center;

}

/*footer*/
 footer {
    display: flex;
    font-family: Roboto;
    flex-direction: column;
    align-items: center;
    border-radius: 70px;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 12px;
    margin-top: auto;
}
.contact{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer a {
    color: white;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
}
.social a:hover{
    color: #408fa5;
    transition: 0.3s;
}
.icons{
    display: flex;
    gap: 15px;
}
.icons i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    width: 100%;
}