* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    height: 100vh;
    background-color: var(--bg-color);
}

.photo img {
    width: 100%;
    height: 500px;

}


h1 {
    text-align: center;
    margin: 15px 0px 15px 0px;
    color: var(--about);
}

.title p {
    letter-spacing: 1px;
    padding: 5px;
    margin-bottom: 40px;
    color: var(--about);
    margin-left: 15px;
    font-family: 'Roboto';
    font-size: 16px;

}

.title p bold {
    font-size: 23px;
    color: var(--about);
}

.container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 45px;
    justify-content: center;

}

.container .card {
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px #000;
    width: 300px;
    height: 370px;
    border-radius: 10px;
}

.container .card img {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}

.container .card img:hover {
    border-radius: 90%;
    transition-duration: 1s;
}

.container .card p {
    letter-spacing: 1px;
    padding: 20px;
}

.container .card h4 {
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

table {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px;
    color: var(--about);
}

table th {
    padding: 10px;
    background-color: var(--btn-color);
    letter-spacing: 1px;
    font-size: 30px;
    border: 1.5px solid black;
}

table td {
    padding: 5px;
    background-color: var(--bg-color);
    letter-spacing: 1px;
    border: 1.5px solid black;
}

table td:hover {
    border-radius: 10px;
    background-color: var(--btn-color);
    
}

.button {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px;
}

.button button {
    background-color: var(--btn-color);
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke
}

.button button:hover {
    border-radius: 15px;
    background-color: var(--btn-color);
}

section {
    height: 100px;
}
#btn-color{
    border: 3px solid var(--btn-color) ;
    background-color: var(--btn-color) ;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s ;
    padding: 5px 10px;
    border-radius: 20px;
}
#btn-color:hover{
    outline: 2px solid var(--btn-color);
    border-color: var(--btn-color);
    transform: scale(1.05);
    color: white;
}


footer {
    display: flex;
    font-family: Roboto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    background-color: var(--footer-bg);
    text-align: center;
    padding: 5px;
    margin-top: auto;
    height: 15vh;
}

.contact {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer a {
    color: whitesmoke;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
}

.social a:hover {
    color: whitesmoke;
    transition: 0.3s;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons i {
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(--card-bg);
    padding-top: 10px;
    width: 100%;
}
