/* booking page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body{ 
    font-size: 14px;
    height: 500px;
    font-family: Roboto;
    background-color: rgb(228, 204, 193);
    background-repeat: no-repeat;
    background-position: center;
}
#btn-color{
    border: 3px solid rgb(156,120,103) ;
    background-color: rgb(156,120,103);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s ;
    padding: 5px 10px;
    border-radius: 20px;
}
#btn-color:hover{
    outline: 2px solid rgb(156,120,103);
    border-color: rgb(156,120,103);
    transform: scale(1.05);
    color: white;
}
.navbar{
    position: absolute;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
.logo{
    color: white;
    font-size: 24px;
    font-family: 'Poppins';
    size: 10px;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 35px;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-family: Roboto;
}
.navbar ul li a:hover {
    transition: 0.3s;
    background-color: rgb(156,120,103);
    border-radius: 18px;
    padding: 7px;
}

h1{ 
    font-size: 40px; 
    color: white; 
    box-shadow: white;
    text-align: center;
    margin-bottom: 60px; 
    padding-top: 155px;
    text-shadow: 2px 2px 8px rgba(0 , 0 , 0 , 0.7);
}
.container input , 
.container select{
    width: 100%;
    padding: 5px;
}
input,
select{
    font-size: 20px;
    border-radius: 15px;
    margin: 15px 0px 15px 0px;
}
select{
    font-size: 15px;
    border-radius: 10px;
}
label{ 
    text-align: left;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    background-color: rgba(146, 93, 68, 0.3);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border: rgb(218, 218, 211);
    border-radius: 20px;
    padding: 25px;
    width: 420px; 
    height: 365px;
    margin: auto;
}  
button{
    display: block;
    margin: 3px auto;
    text-align: center;
    padding: 5px 10px;
    border: 2px solid rgb(156,120,103);
    border-radius: 20px;
    transform: scale(1.05);
    font-size: 20px;
    
}

button:hover{
    background-color: rgb(150, 108, 89);
    color: rgb(255, 255, 255);
}

button:active{
    transform: scale(0.95);
}

#btn-color{
    border: 3px solid rgb(150 108 89) ;
    background-color: rgb(150 108 89);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s ;
    padding: 5px 10px;
    border-radius: 20px;
}
#btn-color:hover{
    outline: 2px solid rgb(150 108 89);
    border-color: rgb(150 108 89);
    transform: scale(1.05);
    color: white;
}
.btn {
    border: 1px solid rgb(150 108 89) ;
    padding: 5px 10px;
    border-radius: 18px;
    transition: 0.3s;
    border-width: 2.5px;
}
.btn:hover{
    background-color: rgb(156,120,103);
}
section{
    height: 300px;
}
.book-form{
    height: 620px;
}

.btn {
    border: 1px solid rgb(156,120,103) ;
    padding: 5px 10px;
    border-radius: 18px;
    transition: 0.3s;
    border-width: 2.5px;
    font-size: 18px;
}
footer {
    display: flex;
    font-family: Roboto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 5px;
    margin-top: auto;
    height: 15vh;

}
.contact{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer a {
    color: white;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
}
.social a:hover{
    color: white;
    transition: 0.3s;
}
.icons{
    display: flex;
    gap: 15px;
}
.icons i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    width: 100%;
}
.login{
    font-size: 20px;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
a:hover{
    background-color:rgb(156,120,103,0.3);
}
a{
    text-decoration: none;
    color: rgb(121 97 85);
}
