*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: whitesmoke;
    background-color: var(--bg-color);
}
#btn-color{
    border: 3px solid var(--btn-color) ;
    background-color: var(--btn-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s ;
    padding: 5px 10px;
    border-radius: 20px;
}
#btn-color:hover{
    outline: 2px solid var(--btn-color);
    border-color: var(--btn-color);
    transform: scale(1.05);
    color: whitesmoke;
}
.theme-btn{
    display: flex;
    padding: 7px 10px;
    border: 3px solid var(--btn-color) ;
    background-color: var(--btn-color) ;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s ;
    border-radius: 20px;
    color: whitesmoke;
    margin-left: 20px;
    font-size: inherit;
    font-family: Roboto;
    margin-top: -8px;
}
.theme-btn:hover{
    outline: 2px solid var(--btn-color);
    border-color: var(--btn-color);
    transform: scale(1.05);
    color: white;
}

.navbar{
    position: absolute;
    border-radius: 70px;
    background-color: var(--navbar-bg);
    margin-top: 15px;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
}
.logo{
    color: whitesmoke;
    font-size: 24px;
    font-family: 'Poppins';
    size: 10px;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 35px;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-family: Roboto;
}
.navbar ul li a:hover {
    transition: 0.3s;
    background-color: var(--btn-color);
    border-radius: 18px;
    padding: 7px;
}
.btn {
    border: 1px solid var(--btn-color);
    padding: 5px 10px;
    border-radius: 18px;
    transition: 0.3s;
    border-width: 2.5px;
}




.title{
    text-align: center;
    font-family: Roboto;
    padding-top: 130px;
    letter-spacing: 2px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0 , 0 , 0 , 0.7);
}
.museums{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    
}
.card{
    position: relative;
    display: block;
    background-color: #0f0f0f3d;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.card-info{
    position: absolute;
    font-family: Roboto;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(62, 36, 17, 0.9);
    color: whitesmoke;
    padding: 15px;
    transition: all 0.5s ease;
}
.card:hover .card-info {
    bottom: 0; 
}

.card:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 310px;
    object-fit: cover;
    
}

.museums-section{
    margin: auto;
}






footer {
    display: flex;
    font-family: Roboto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    background-color: var(--footer-bg);
    text-align: center;
    padding: 5px;
    margin-top: auto;
    height: 15vh;

}
.contact{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer a {
    color: whitesmoke;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
}
.social a:hover{
    color: whitesmoke;
    transition: 0.3s;
}
.icons{
    display: flex;
    gap: 15px;
}
.icons i{
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid var(--card-bg);
    padding-top: 10px;
    width: 100%;
}
