*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: var(--bg-color);
    font-family: Roboto;
}
.content h2{
    margin:10px auto;
    font-size: 30px;
    font-weight: 800;
    color: var(--about);
}
.content h3{
    margin:20px auto;
    width: 80%;
    color: var(--about);
}
hr{
    margin: auto;
    width: 40%;
    height: 5px;
    border: none;
    border-radius: 15px;
    background-color: var(--btn-color);
}
/*list :images and paragraph*/
ul{
    display:grid;
    grid-template-columns:repeat(3,400px);
    gap: 40px;
    margin:50px 100px;

}
ul li{
    background-color: #ecf0f3;
    height: 510px;
    list-style: none;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: rgb(0,0,0,0.19) 0px 10px 20px ,rgba(0,0,0,0.23) 0px 6px 6px;
}
ul li img{
    display: block;
    width: 100%;
}
h2{
    text-align: center;
}
b{
    color: whitesmoke;
    font-weight: 800;
    font-size: 20px;
}
.col1 p,.col2 p{
    text-align: center;
    width:400px;
    height: 145px;
    padding: 3px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing:1px;
    background-color:var(--btn-color);
    color: whitesmoke;
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.5s;
} 
ul li:hover p{
    opacity:1;
} 
table{
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    border-radius:20px ;
    text-align: center;
    width: 300px;
    height: 80px;
    color: var(--about);
}
table th{
    padding: 3px;
    color: var(--about);
}
table td{
    border: 1px solid black;
    border-radius: 15px;
    padding: 3px;
    transition: all 0.3s ease;
}
table tr:hover td{
   background-color:var(--btn-color);
   color: whitesmoke;
}
table tr:hover {
    transform: scale(1.04);
}

/*button start*/
.button{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.button2 button{
    width: auto;
    padding: 10px;
    font-size:20px;
    font-weight: 500;
    border-radius: 10px;
    background-color:var(--btn-color);
    color: whitesmoke;
    margin:10px auto;
    border: none;
}
.button2 button:hover{
    background-color: #ecf0f3;
    color: var(--btn-color);
}
.button1 button{
    width: auto;
    padding: 10px;
    font-size:20px;
    font-weight: 500;
    border-radius: 10px;
    background-color:#ecf0f3;
    color:var(--btn-color);
    margin:10px auto;
    border:none;
}
.button1 button:hover{
    background-color: var(--btn-color);
    color: whitesmoke;
}
/*img style start*/
.test1{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.slider{
    position:relative;
    width:500;
    overflow: hidden;
}
.imges{
    display: flex;
    width: 100%;
}
.imges img{
    height:300px;
    width: 100%;
    flex: 0 0 100%;
}
.imges input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid var(--btn-color) 2px;
    cursor: pointer;
    margin: 3px;
}
.dots label:hover{
    background-color: whitesmoke;
}
#img1:checked ~ .m1{
    margin-left:0 ;
}
#img2:checked ~ .m2{
    margin-left:-100% ;
}
#img3:checked ~ .m3{
    margin-left:-200% ;
}
#img4:checked ~ .m4{
    margin-left:-300% ;
}
#img5:checked ~ .m5{
    margin-left:-400% ;
}
#img6:checked ~ .m6{
    margin-left:0 ;
}
#img7:checked ~ .m7{
    margin-left:-100% ;
}
#img8:checked ~ .m8{
    margin-left:-200% ;
}
#img9:checked ~ .m9{
    margin-left:-300% ;
}
#img10:checked ~ .m10{
    margin-left:-400% ;
}
#img11:checked ~ .m11{
    margin-left:0 ;
}
#img12:checked ~ .m12{
    margin-left:-100% ;
}
#img13:checked ~ .m13{
    margin-left:-200% ;
}
#img14:checked ~ .m14{
    margin-left:-300% ;
}
#img15:checked ~ .m15{
    margin-left:-400% ;
}
/*img style end*/
/*footer*/
.btn {
    border: 1px solid var(--btn-color) ;
    background-color: var(--btn-color);
    padding: 5px 10px;
    border-radius: 18px;
    transition: 0.3s;
    border-width: 2.5px;
}
footer {
    display: flex;
    font-family: Roboto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    background-color: var(--footer-bg);
    text-align: center;
    padding: 5px;
    margin-top: auto;
    height: 15vh;

}
.contact{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer a {
    color: whitesmoke;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
}
.social a:hover{
    color: whitesmoke;
    transition: 0.3s;
}
.icons{
    display: flex;
    gap: 15px;
}
.icons i{
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid var(--card-bg);
    padding-top: 10px;
    width: 100%;
}