*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    background-image: url("Background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.hero{
    flex: 1;
    display: flex;

}
#btn-color{
    border: 3px solid rgb(156,120,103) ;
    background-color: rgb(156,120,103);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s ;
    padding: 5px 10px;
    border-radius: 20px;
}
#btn-color:hover{
    outline: 2px solid rgb(156,120,103);
    border-color: rgb(156,120,103);
    transform: scale(1.05);
    color: white;
}
.navbar{
    position: absolute;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
.logo{
    color: white;
    font-size: 24px;
    font-family: 'Poppins';
    size: 10px;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 35px;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-family: Roboto;
}
.navbar ul li a:hover {
    transition: 0.3s;
    background-color: rgb(156,120,103);
    border-radius: 18px;
    padding: 7px;
}





.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    gap: 20px;
    color: white;
    overflow: hidden;
    text-shadow: 2px 2px 8px rgba(0 , 0 , 0 , 0.7);
}     
.go {
    animation: slideFromLeft 1.5s ease-out forwards;
}
.egypt {
    animation: slideFromRight 1.5s ease-out forwards;
}



@keyframes slideFromLeft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}















.btn {
    border: 1px solid rgb(156,120,103) ;
    padding: 5px 10px;
    border-radius: 18px;
    transition: 0.3s;
    border-width: 2.5px;
}
footer {
    display: flex;
    font-family: Roboto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
    margin-top: auto;
    height: 15vh;

}
.contact{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer a {
    color: white;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
}
.social a:hover{
    color: white;
    transition: 0.3s;
}
.icons{
    display: flex;
    gap: 15px;
}
.icons i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    width: 100%;
}
@media screen and (max-width: 600px){
    nav ul {
        flex-direction: column;
    }
    body {
        display: block;
        overflow-x: auto;
    }
}